* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    color: white;
}
main{
    overflow-x: hidden;
}

.main-block{
    backdrop-filter: blur(30px);
}

.main-block, .main-block2{
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #74EBD5 0%, #9FACE6 100%);

    background-attachment: scroll;
    background-size: 300% 300%;
     animation: color 12s ease-in-out infinite;
    /* background-color: #15003d  ; */
}



@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }

}

@font-face {
    font-family: FairyDustB;
    src: url('Quenda-Medium.otf');

}
@font-face {
    font-family: kecske;
    src: url('Fine\ Serif.ttf');
}

.welcomeblade h1{
    font-size: clamp(150px, calc(7vw + 1rem), 5rem);
    font-family: FairyDustB;
    color: white;
    z-index: 1;
    text-shadow: 1px 1px 45px #ffffff4d;
}



.welcomeblade h5{
    font-size: clamp(20px, calc(3vw + 1rem), 2rem);
    text-align: center;
    color: white;
    font-style: italic ;
    font-family: FairyDustB;
    font-weight: normal;
    opacity: 0;
    animation: showa ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    text-shadow: 0.5px 0.5px 65px #eeeeee96;
}

@keyframes showa {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media only screen and (max-width: 1279px){
    .welcomeblade h1{
        font-size: clamp(110px, calc(6vw + 1rem), 5rem);
        text-wrap: wrap;
        text-align: center;
    }
    .welcomeblade h5{
        font-size: clamp(10px, calc(2vw + 0.5rem), 1rem);
        text-wrap: wrap;
        text-align: center;
    }
}

@media only screen and (max-width: 861px){
    .welcomeblade h1{
        font-size: clamp(80px, calc(4vw + 1.7rem), 2rem);
        text-wrap: wrap;
        text-align: center;
    }
    .welcomeblade h5{
        font-size: clamp(5px, calc(1vw + 0.5rem), 1rem);
        text-wrap: wrap;
        text-align: center;
    }
}
@media only screen and (max-width: 635px){
    .welcomeblade h1{
        font-size: clamp(80px, calc(4vw + 1.7rem), 2rem);
        text-wrap: balance;

    }
    .welcomeblade h5{
        font-size: clamp(5px, calc(1vw + 0.5rem), 1rem);
        text-wrap: wrap;
        text-align: center;
    }
}

.welcomeblade2, h1{
    font-size: clamp(70px, calc(7vw + 1rem), 5rem);
    font-family: FairyDustB;
    color: white;
    text-shadow: 1px 1px 45px #ffffff4d;
}


.navbar {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
        position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    margin-bottom: 30px;
  }
  .navbarbackground{
    background-color: #00000081;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    animation: 1s akp linear;
    filter: drop-shadow(5px 5px 25px #0f0f0f96);

}

@keyframes akp {
    from{ opacity: 0;}
    to {opacity: 1;}
}


  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    font-family: FairyDustB;
    animation: showa ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }

  .navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }


  .imgg{
    float: left;
    width: 100px;
    height: 100px;
    background-color: none;
  }


  section, .section2{
    display: grid;
    place-items: center;
    align-content: center;

  }
  section{
    min-height: 100vh;
  }
  .section2{
    min-height: 60vh;
    position: relative;



  }

  .section2 h2{
    color: black;
    font-family: kecske;
    text-align: center;
    font-size: clamp(70px, calc(4vw + 1.7rem), 2rem);

  }



  section h4{
    font-size: 80px;
    color: white;
    text-align: center;
    font-family: FairyDustB;
    font-weight: normal;
    opacity: 0;
    animation: showa ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    text-shadow: 1px 0.5px 65px #eeeeee96;

  }


 @keyframes appearfromleft {
    from{
        opacity: 0;
        scale: 0.5;
        transform: translateX(-400px);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0);

    }

 }
 @keyframes appearfromright {
    from{
        opacity: 0;
        scale: 0.5;
        transform: translateX(+400px);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0);

    }

 }



 .hiddenc{
    animation: appearfromleft linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
    text-align: center;



 }
 .contentright{
    animation: appearfromright linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
 }

  .align-left {
    float:left;
    margin-right:20px;
      transform: translateX(-110%);
  }

  .align-right {
    float:right;
    margin-left:20px;
    transform: translateX(110%);
  }


  .logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Engedélyezd a flex-wrap-ot */
    gap: 1rem; /* Hozzáadhatsz egy kis részt a logók között */
    flex: 0 1 calc(50% - 1rem); /* 3 items per row with some margin */
}

.logo {
    max-width: 350px; /* Maximális szélesség a logónak */
    text-align: center; /* Írja be a szöveget középre */

}

.logo img {
    width: 350px; /* A kép szélessége a konténer szélességének 100%-a */
    height: 300px; /* Az arányos magasság a szélesség alapján */
    object-fit: cover;
    border-radius: 40px;
    padding: 1rem;
    filter: drop-shadow(5px 5px 25px #eeeeee96);
    transition: transform 0.3s ease;
}



.logo img:hover{
    transform: scale(1.1);

}

.logo:nth-child(2){
    transition-delay: 200ms;
}
.logo:nth-child(3){
    transition-delay: 400ms;
}
.logo:nth-child(4){
    transition-delay: 600ms;
}


.company{
    text-align: center;
    font-size: 30px;
    font-family: FairyDustB;
    opacity: 0;
    animation: showa ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    text-shadow: 1px 0.5px 45px #eeeeee96;
}


.rolunk{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d85e;
    box-shadow: 1px 1px 55px 1px #d8d8d83f;
    border-radius: 60px;
    margin: auto;
    margin-top: 20px;
    padding-top: 25px;
}


.rolunkbox{
    width: 50%;
    margin: 40px;

}
.rolunkbox img{
    width: 500px;
    height: 300px;
    border-radius: 50px;
    object-fit: cover;
    box-shadow: 1px 1px 55px 1px #1a1a1a8c;

}



.rolunk p{
    text-align: center;
    font-size: 25px;
    font-family: FairyDustB;
    opacity: 0;
    animation: showa ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    text-shadow: 1px 0.5px 45px #eeeeee96;
}


.regpage{
    display: grid;
    align-content: center;
    min-height: 100vh;


}
.regpage h2{
    font-size: clamp(80px, calc(3vw + 2rem), 2rem);
    margin: auto;
    text-align: center;
    color: white;
    opacity: 0;
    font-family: FairyDustB;
    text-shadow: 1px 0.5px 45px #eeeeee00;
    margin-top: 40px;
    animation: elotunik ease-in-out 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    overflow-wrap:break-word;
}
.newpostcontainer{
    padding-top: 15px;
    padding-bottom: 15px;
}

.newpost{
    width: 100%;
    padding: 25px;
}
.formcard,.newpost{

    max-height: 700px;
    height: auto;
    background-color: #eaeaea3f;
    box-shadow: 1px 1px 15px 1px #a4a4a48d;
    border-radius: 45px;
}

.formcard{
    display: flex;
    margin: auto;
    width: 60%;
    transition: width 2s ease;
    padding: 15px;
}
@media only screen and (max-width: 768px){
    .formcard{
        height: auto;
        max-height: 1100px;
    }

}


.leftreg{
    margin-top: 15px;
    opacity: 0;
    animation: elotunik ease-in-out 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;

}

.rightreg{
    border-radius: 45px;
    color: white;
    text-align: center;
    opacity: 0;

    animation: elotunik ease-in-out 1s ;
    animation-fill-mode: forwards;
    animation-delay: 2s;

}

.regpage{
    animation: elotunik ease-in-out 1s ;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes elotunik{
    from{
        opacity: 0;

    }
    to{
        opacity: 1;

    }
}
.leftreg button{
    text-align: center;
}


.rightreg h3{
    color: white;
    font-size: clamp(30px, calc(1vw + .6rem), 1rem);
    font-family: FairyDustB;

}
.righregcontent{
    margin: auto;
}

.form-control{
    box-shadow: 1px 1px 25px 1px #c2c2c296;

}

.form-label, .form-control, .btn{
    font-family: FairyDustB;
    font-size: clamp(18px, calc(2vw + 1rem), 1rem);

}
.form-label{
    text-align: start;
}
.btn{
    color: white;
}
.btn:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;

}

.leftreg h3, p, a {
    color: white;
    font-size: clamp(35px, calc(1vw + .6rem), 1rem);
    font-family: FairyDustB;
}



.row .col-md-6{
    margin: auto;
}

.hidden{
    width: 0;
    height: 0;
    overflow:hidden;
}



.content .card{
    color: black;
}

@media only screen and (max-width: 1279px){

    .rolunk{
        display: grid;
        text-align: center;
    }
    .rolunkbox{
        width: 100%;
        text-wrap: wrap;
        padding: 45px;
        margin: 0;
        margin-bottom: 15px;
    }
    .rolunkbox img{
        width: 95%;
    }
    .regpage h2{
        font-size: clamp(50px, calc(2vw + 1rem), 1rem);
    }
}


@media only screen and (max-width:1279px ) {

    .hiddenc h4{
        font-size: clamp(55px, calc(4vw + 1rem), 2rem);
    }

    .formcard {
        margin-top: 80px;
        margin-bottom: 80px;

    }
}

@media only screen and (max-width:768px ) {
    .logos{
        display:block;
    }
    .regpage h2{
        font-size: clamp(40px, calc(2vw + 2rem), 1rem);
    }
    .formcard {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}

@media only screen and (max-width:480px ) {
    .logos{
        width: 100%;
    }
}


@media only screen and (max-height: 999px){
    .content{
        padding: 15px;
    }
}
.custom-shape-divider-bottom-1741029606 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    transform: rotate(180deg);


}

.custom-shape-divider-bottom-1741029606 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 215px;

}

.custom-shape-divider-bottom-1741029606 .shape-fill {
    fill: #FFFFFF;
}
.welcomeblade, .welcomeblade2{
    height: 100%;
    width: 100%;
    background-color: #74EBD5;



}
.welcomeblade{
    background-image: linear-gradient(0deg, #74EBD5 0%, #9FACE6 100%);

}
.welcomeblade2{
    position: relative;
    background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE6 100%);
    padding-bottom: 45px;
}
.sliding{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slidingcontainer{
    position:absolute;
    left: -800px;
  }
  .szoveg{
    width: 100%;


  }
  .szovegsliding{
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    will-change: transform;
  }
  .szoveg-item{
    font-weight: lighter;
    font-size: 350%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;

  color: black;
  }


  .hiddenc .custom-shape-divider-top-1741025554{

    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}


.custom-shape-divider-top-1741025554 svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 215px;
}

.custom-shape-divider-top-1741025554 .shape-fill {
    fill: #FFFFFF;
}


.blob{
    padding: 150px;
}


.custom-shape-divider-top-1741034294 {
    background: linear-gradient(180deg, #74EBD5 0%, #9FACE6 100%);
    rotate: 180deg;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

}

.custom-shape-divider-top-1741034294 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 161px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1741034294 .shape-fill {
    fill: #FFFFFF;
}



.divider {
    width: 3px; /* Elválasztó szélessége */
    height: 200px; /* Magasság, az igényeid szerint állítható */
    background-color: black; /* Fekete szín */
}
@media only screen and (max-width: 1466px){
    .divider{
        opacity: 0;
    }
}
.fa-solid{
    font-size:25px;
}



.welcomeblade2 .comm{
    padding-top: 90px;
}



.section3
{
    height: 100vh;
    padding-top: 95px;
}

.profbag{
    display: flex;
    margin: auto;
    max-height: 700px;
    height: auto;
    background-color: #eaeaea3f;
    box-shadow: 1px 1px 55px 1px #eaeaea4d;
    border-radius: 45px;
    padding: 55px;

}

.profbag h5{
    font-size: 35px;
    color: white;
    font-family: FairyDustB;
}

.profbag p, a{
    font-size: 25px;
}

.buttons{
    display: flex;
    align-items: center;
    padding-right: 15px;
}


.list-group-item {
    cursor: pointer;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Kereső input stílus */
.search-container {
    margin: 10px;
}

#userSearch {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Felhasználói lista stílus */
#userList {
    margin-top: 10px;
}

.user-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.user-item a {
    text-decoration: none;
    color: #333;
}

.user-item a:hover {
    background-color: #f0f0f0;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.uzenet1{
    height: auto;
    max-width: 75%;
    background-color: #eaeaea3f;
    box-shadow: 1px 1px 15px 1px #a4a4a48d;
    border-radius: 45px;
    padding: 25px;
}


.previouschats{
    border-radius: 25px;
    height: auto;
    padding: 15px;
    background: linear-gradient(45deg, #74EBD5 0%, #9FACE6 100%);

}


.active-user {
    position: relative; /* A szülő elem pozicionálása szükséges a ::after és ::before pszeudo-elemekhez */
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.active-user::after, .active-user::before{
    --angle: 0deg;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 10%, #0000008d);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 25px;
    animation: 3s spin linear infinite;
    padding: 3px;
}

.active-user::before{
    filter: blur(.5rem);
    opacity: 1;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;

    }
}


.leftpanel{
    background-color: #eaeaea3f;
    box-shadow: 1px 1px 15px 1px #bdbdbd8d;
    border-radius: 45px;
}


.conti{
    position: sticky;
    bottom: 0;
    backdrop-filter: blur(5px);
    width: 100%;
    border-radius: 45px;
}

.fa-solid:hover{
    background-color: rgba(255, 255, 255, 0.2);
}


.form-group{
    z-index: 1000;
}

a{
    text-decoration: none;
    font-size: 45px;
}


.selectGame{
    height: auto;
    background-color: #eaeaea3f;
    box-shadow: 1px 1px 15px 1px #a4a4a48d;
    border-radius: 45px;
    padding: 25px;
}

.gamescontainer {
    display: flex;
    justify-content: center;
    height: 700px;
    background-color: #eaeaea3f;
    box-shadow: 1px 1px 15px 1px #a4a4a48d;
    border-radius: 45px;
    padding: 25px;
  }




.selectGame{
    height: 125px;
    width: 350px;
    flex: 1;
}

/* .selectGame:hover{
    animation: 1.3s sizing ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes sizing {
    from{
        height: 125px;
    }
    to{
        height: 100%;
    }
}


.selectGame:not(:hover){
    animation: 2s backsizing ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes backsizing {
    from{
        height: 100%;
    }
    to{

        height: 125px;
    }
} */


.wrapper{
    display: grid;
    padding: 25px;
    width: 50%;
    margin: auto;
    border-radius: 25px;
    background-color: #eaeaea3f;
    box-shadow: 1px 1px 15px 1px #a4a4a48d;
    align-items: center;
    justify-content: center;

  }

  .cards, .card, .view{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cards{
    height: 400px;
    width: 400px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cards .card{
    cursor: pointer;
    list-style: none;
    user-select: none;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
    border-radius: 15px;
  }
  .card.shake{
    animation: shake 0.35s ease-in-out;
  }
  @keyframes shake {
    0%, 100%{
      transform: translateX(0);
    }
    20%{
      transform: translateX(-13px);
    }
    40%{
      transform: translateX(13px);
    }
    60%{
      transform: translateX(-8px);
    }
    80%{
      transform: translateX(8px);
    }
  }
  .card .view{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 7px;
    background: #fff;
    pointer-events: none;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: transform 0.25s linear;
  }
  .card .front-view img{
    width: 19px;
  }
  .card .back-view img{
    max-width: 45px;
  }
  .card .back-view{
    transform: rotateY(-180deg);
  }
  .card.flip .back-view{
    transform: rotateY(0);
  }
  .card.flip .front-view{
    transform: rotateY(180deg);
  }
  @media screen and (max-width: 700px) {
    .cards{
      height: 350px;
      width: 350px;
    }
    .card .front-view img{
      width: 17px;
    }
    .card .back-view img{
      max-width: 40px;
    }
  }
  @media screen and (max-width: 530px) {
    .cards{
      height: 300px;
      width: 300px;
    }
    .card .front-view img{
      width: 15px;
    }
    .card .back-view img{
      max-width: 35px;
    }
  }


  .cont{
    display: grid;
  }
  p{
    text-align: center;
  }

  .modal {
    display: none; /* Alapértelmezetten rejtve */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fekete háttér áttetsző */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 25px;
    height: 350px;
    width: 600px;
    text-align: center;
}

#points, #modal-points {
  transition: all 0.2s ease-out;
  font-size: 1.2em;
  font-weight: bold;
}

#points.animating, #modal-points.animating {
  transform: scale(1.1);
  color: rgb(116, 52, 255);
}

.confetti {
  position:fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
  display: none;

}

.confetti.active {
  display:grid;
  animation: confettiFade 4s forwards infinite;

}

@keyframes confettiFade {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


.gamemodal h2  p{
    color: black;
}
